@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    animation: fadeInAnimation ease 1s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

h1 {
    font-weight: 100;
    font-size: 9rem;
}

.sensation {
    font-weight: bold;
}

.temperature {
    font-size: 5rem;
}

.resultado {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}